/*********************/
/*      BASE
/*********************/
body, html {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-height: calc(100vh);
  background-image: url("../images/table.jpg");
  background-repeat: repeat;
}

footer {
  background-color: #882361;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

/********************************/
/*     LEFT                     */
/********************************/
.blocLeft {
  position: relative;
}

/**************************************/
.blocLeftHeaderTitle {
  padding: 10px 5px;
  background-color: rgba(136, 35, 97, 0.2);
  border-radius: 25px;
  width: 52%;
  margin-left: 20%;
  margin-top: 5%;
}

.blocLeftHeaderTitle p {
  text-align: center;
}

.blocLeftHeaderTitle p a {
  font-weight: bold;
  text-decoration: none;
  color: #882361;
}

.blocLeftHeaderTitle p a:hover {
  color: black;
}

/********************************************/
.blocLeftHeaderCompteur {
  width: 100%;
  position: relative;
  top: 15%;
  left: 0;
  background-color: rgba(136, 35, 97, 0.2);
  text-align: center;
}

.blocLeftHeaderCompteur p {
  padding: 5px;
  font-size: x-large;
  font-weight: bold;
}

.macaron {
  width: 100%;
  position: relative;
  top: 9.90%;
  text-align: center;
}

.blocLeftHeaderFooter {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #882361;
}

.blocLeftHeaderFooter p {
  padding: 10px;
}

/*******************************/
/*      COOKIES                */
/*******************************/
.boutonCookies {
  background-image: url("../images/cookies.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 292px;
  margin: 0 auto;
}

.divTxt {
  color: deeppink;
  font-weight: bold;
  font-size: 50px;
}

/********************************/
/*     MIDDLE                  */
/********************************/
.blocMiddleOn {
  background-color: #882361;
  position: absolute;
  top: 0;
  left: 33.5%;
}

.blocMiddle {
  display: block;
}

.bloc2-container-header.one, .TitleRandom {
  display: inline;
  vertical-align: top;
  margin-left: 10%;
}

.bloc2-container-header.two {
  position: relative;
}

.btnOff {
  position: absolute;
  top: 130px;
  right: 0;
  background-color: #333;
  padding: 10px;
  color: #fff;
}

.one button {
  display: inline-block;
  vertical-align: top;
}

.one .titleRandom {
  display: inline-block;
  color: #882361;
}

.titleRandom {
  text-align: center;
  margin-left: 10%;
}

.two {
  position: relative;
}

.two button:last-child {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.blocRight {
  position: absolute;
  right: -4px;
  top: 0;
  margin-top: 0;
}

.blocLeft, .blocMiddle, .blocRight, .blocMiddleOn {
  width: 32.9%;
  border-right: 8px #882361 solid;
  display: inline-block;
  vertical-align: top;
  min-height: 1161px;
}

.bloc2-container-header {
  width: 100%;
}

.bloc2-container-header, .bloc3-container-header, .bloc3-container-info {
  border-bottom: 10px #882361 solid;
}

.filtre {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #882361;
  opacity: 0.2;
}

.bloc2-container-header {
  display: inline-block;
  background-color: #d886b1;
}

#frise {
  width: 100%;
  height: 150px;
  display: inline-block;
  background-color: rgba(136, 35, 97, 0.2);
  text-align: center;
}

/********************************/
/*     RIGHT              */
/********************************/
.bloc3-container-header h1 {
  text-align: center;
  background-color: #d886b1;
  margin: 0;
  padding: 15px;
  color: #882361;
}

.img {
  max-width: 100%;
  height: auto;
}

.box {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box p {
  text-align: center;
  display: inline-block;
  padding-right: 15px;
}

.item-title {
  text-align: center;
  background-color: #B6BFC3;
  padding: 2px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
}

.item {
  width: 100%;
  height: 150px;
  display: inline-block;
}

.multiplicateur {
  background-color: deeppink;
  font-size: 30px;
  color: #eee;
}

.multiplicateur:hover {
  background-color: hotpink;
  font-size: 30px;
  color: #eee;
}

.lait:hover, .farine:hover, .beurre:hover, .chocolat:hover, .surprise:hover {
  background-color: #C3C5B8;
}

.lait, .farine, .beurre, .chocolat, .surprise {
  background-color: #C3C5B8;
  border: 1px #7c7780 solid;
}

.lait, .farine, .beurre, .chocolat, .surprise {
  position: relative;
}

.achetLait {
  background-color: #882361;
}

.acheteFarine {
  background-color: #882361;
}

.acheteBeurre {
  background-color: #882361;
}

.acheteChocolat {
  background-color: #882361;
}

.acheteSurprise {
  background-color: #882361;
}

.over {
  width: 300px;
  height: 80px;
  background-color: #882361;
  padding: 15px;
  border-radius: 25px 5px;
  position: absolute;
  top: 14%;
  left: 20%;
  color: #eee;
  font-size: x-large;
}

/*******************************/
/*    MODULES
/*******************************/
/****************   BLOC 3    ***************/
.bloc3-container-info {
  padding: 15px;
}

.bloc3-container-info p {
  display: inline-block;
  vertical-align: top;
  height: auto;
  margin: 0;
}

/************************/
/*      COMMUN
/************************/
.bloc2-container-header button {
  width: 20%;
  height: 50px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

/****************************/
/*    MODAL
/****************************/
.modal {
  width: 340px;
  position: absolute;
  left: 92px;
  top: 120px;
  z-index: 999;
  padding: 10px 15px;
  background-color: #882361;
}

.croix {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  color: white;
  font-weight: bold;
}

.croix a {
  color: white;
  text-decoration: none;
}

.modal h3 {
  font-size: medium;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.modal .content p {
  border: thin white solid;
  padding: 5px;
  margin-bottom: 3px;
}

.modal .content div {
  border: thin white solid;
  padding: 5px;
}

.modal .content input {
  width: 336px;
  text-align: center;
}

.modal .footer {
  text-align: center;
  padding-top: 10px;
}

/***********************************************/
/*******************************/
/*    Evenement
/*******************************/
